.alive { fill:lightgreen; }
body { color:#000000; background-color:lightblue; }
.coordinate { fill:lightgrey; }
.dead { fill:lightgrey; }
fieldset { background-color:#eeefff; }
input { text-align:right; }
table {
    border:thin solid;
}
thead { background-color:lightgrey; }
td, tr {
    border:thin dotted;
}
