.alive {}
body { color: #000000; background-color: #eeefff; }
.cell {}
.coordinate {}
.dead {}
input { text-align: right; }
table {
    border: thin solid;
}
thead { background-color: #cccccc; }
td, tr {
    border: thin dotted;
}
